<script setup lang="ts">
import { 
  CAlert ,
  CBox ,
  CAlertIcon,
  CAlertTitle,
  CText,
  CAlertDescription
  } from '@chakra-ui/vue-next'
const router = useRouter()
const route = useRoute()
//esto hay que sacarlo del objeto de forma programatica
const possibleStatus = ["info", "warning" ,"success" ,"error"]
const alertStatus = ref()
if ((route.query.status) && possibleStatus.includes(route.query.status))
{
  alertStatus.value=route.query.status
}
else alertStatus.value='info'

const go = () => {
   if (alertStatus.value)
   {
   router.push({
        path: route.path,
        query: {
           status: alertStatus.value
         }
    })
  }
}

const code = `<CAlert>
  <CAlertIcon>  
  </CAlertIcon>
  <CAlertTitle>
    titulo fuera del text
    <CText>
         titulo de la alerta
        </CText>
  </CAlertTitle>
<CAlertDescription>
descripcion
</CAlertDescription>
</CAlert>`
</script>
<template>
<div v-if="CBox">
<CAlert :status="alertStatus">
  <CAlertIcon>  
  </CAlertIcon>
  <CAlertTitle>
    titulo fuera del text
    <CText>
         titulo de la alerta
        </CText>
  </CAlertTitle>
<CAlertDescription>
descripcion
</CAlertDescription>
</CAlert>
</div>
<div>
  {{code}}
</div>
<div>
  <input @keypress.enter="go" type="select" name="alertStatus" v-model="alertStatus">
</div>
</template>
<style>
input
{
  border :solid 1px solid
}
</style>