<script setup lang="ts">
import { 
  chakra,
  CInput,
  CInputAddon,
  CInputGroup,
  CInputLeftAddon,
  CInputLeftElement,
  CInputRightAddon,
  CInputRightElement,
  CBox ,
  CVStack
  } from '@chakra-ui/vue-next';



const input = ref("")

function handleInput(val: Event) {
  console.log("input", val)
}
const code = ``
</script>
<template>
<div v-if="CBox">
  <chakra.div>
    <CVStack>
      <chakra.div>value: {{ input }}</chakra.div>
      <pre>{{ input }}</pre>
      <CInput v-model="input" />
    </CVStack>
    <chakra.input
      v-model="input"
      @input="handleInput"
      placeholder="Raw input"
      type="text"
    />
  </chakra.div>
</div>
<div>
  {{code}}
</div>
<div>
  <input type="select" name="alertStatus" value="uno,dos,tres">
</div>
</template>
<style>
input
{
  border :solid 1px solid
}
</style>
