<script setup>
import { CBox, CButton } from '@chakra-ui/vue-next'
const varexample = 'this is a js style sample';
const arrayexample = varexample.split('');

</script>

<template>
  <c-box>
    <c-button>
      {{ varexample }}
    </c-button>
  </c-box>
  <c-box>
    {{ arrayexample }}
  </c-box>

</template>