<script setup lang="ts">    
import { chakra , CFlex, CBox, CBadge, CIcon, CText , CAlert , CAlertDescription , CAlertIcon , CAlertTitle } from "@chakra-ui/vue-next";


</script>
<template>
<div v-if="CBox">
<CAlert>
  <CAlertIcon>  
  </CAlertIcon>
  <CAlertTitle>
    titulo fuera del text
    <CText>
         titulo de la alerta
        </CText>
  </CAlertTitle>
<CAlertDescription>
descripcion
</CAlertDescription>
</CAlert>
<CBox
    w="300px"
    font-family="-apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';"
  >
    <CBox w="100%" shadow="md" rounded="lg" p="5">
      <CText
          ml="2"
          text-transform="uppercase"
          font-size="sm"
          font-weight="bold"
          color="pink.800"
        >
          chakra is working 
        </CText>
      <chakra.img alt="" rounded="md" w="100%" src="https://bit.ly/2k1H1t6" />
      <CFlex align="baseline" mt="2">
        <CBadge color-scheme="purple"> Plus </CBadge>
        <CText
          ml="2"
          text-transform="uppercase"
          font-size="sm"
          font-weight="bold"
          color="pink.800"
        >
          Verified &bull; Cape Town
        </CText>
      </CFlex>
      <CText mt="2" font-size="xl" font-weight="semibold" line-height="short">
        Modern, Chic Penthouse with Mountain, City & Sea Views
      </CText>
      <CText mt="2"> $119/night </CText>
      <CFlex mt="2" align="center">
        <CIcon name="star" color="orange.400" />
        <CText ml="1" font-size="sm"> <b>4.84</b> (190) </CText>
      </CFlex>
    </CBox>
  </CBox>
  </div>
  <div v-else> NOT CHAKRA LOADED CHECK IMPORTING THE TAGS </div>
</template>
