<script setup lang="ts">
</script>
<template>
  
   <nav>
       <ul>
           <li><router-link :to="`/chakraplay/CAlert`" replace>alert</router-link></li>
        <li><router-link :to="`/chakraplay/JSComponent`" replace>js example</router-link></li>
        <li>Menu item</li>
      </ul>
    </nav>
</template>  