<script setup lang="ts">
</script>

<template>
<header>
<nav>
    <ul>
      <li><router-link :to="`/chakraplay/index`" replace>chakraplay</router-link></li>
      <li>Menu item</li>
      <li>Menu item</li>
    </ul>
  </nav>
</header>
</template>