<template>
    <Navbar></Navbar>
    <aside>
      <components-navigation></components-navigation>
    </aside>
  <main class="px-4 py-10 text-center text-gray-700 dark:text-gray-200">  
    <section>
        <RouterView />
    </section>
    <div class="mt-5 mx-auto text-center opacity-75 dark:opacity-50 text-sm">
      [chakraplay Layout]
    </div>
  </main>
</template>
